@use '../mixins/pseudo.scss' as *;
@use '../mixins/resposive.scss' as *;

.main {
  position: relative;
  overflow: hidden;
  &::after {
    @include pseudo(510px, 1018px) {
      left: -322px;
      top: -609px;
      background-image: var(--linear-gradient);
      border-radius: 15.9375rem;
      z-index: -1;
      @include responsive(desktop) {
        left: -200px;
        top: -300px;
      }
    }
  }
  &::before {
    @include pseudo(510px, 1018px) {
      background-image: var(--linear-gradient);
      border-radius: 15.9375rem;
      left: 188px;
      top: 427px;
      opacity: 0.15;
      @include responsive(desktop) {
        left: 1200px;
        top: 119px;
      }
    }
  }
}
