@use '../mixins/pseudo.scss' as *;
@use '../mixins/resposive.scss' as *;

.mobile {
  position: relative;
  width: 247px;
  height: 505px;
  border-radius: 30px;
  border: solid 10px white;
  background-color:var(--bg-mobile);
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-top: 64px;
  box-shadow: 0 30px 60px -10px rgba(62, 39, 83, 0.25);
  &__header {
    position: absolute;
    width: 228px;
    height: 66px;
    background-image: var(--linear-gradient);
    border-radius: 20px 20px 6px 6px;
    top: 0;
    box-shadow: 0 0 13px 0 rgba(62, 39, 83, 0.25);
    &::after {
      @include pseudo(129px, 29px) {
        background-color: white;
        top: -10px;
        left: 50%;
        translate: -50%;
        border-radius: 0 0 14px 14px;
      }
    }
  }
  &__profile {
    display: flex;
    justify-content: start;
    gap: 8px;
    width: 196px;
    margin-inline: auto;
    margin-top: 30px;
  }
  &__user {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2px;
  }
  &__dots {
    margin-left: auto;
  }
  &__title {
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: white;
  }
  &__subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: var(--soft-pink-user);
  }
  &__message--otheruser-1{
    top: 77px;
    left: 8px;
    position: absolute;
    width: 128px;
    height: 34px;
    background-color: var(--soft-pink-bgmessage);
    border-radius: 10px 10px 10px 4px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__message--otheruser-2 {
    top: 119px;
    left: 8px;
    position: absolute;
    width: 128px;
    height: 34px;
    background-color: var(--soft-pink-bgmessage);
    border-radius: 10px 10px 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  &__message--otheruser-3 {
    top: 298px;
    left: 8px;
    position: absolute;
    width: 128px;
    height: 45px;
    background-color: var(--soft-pink-bgmessage);
    border-radius: 10px 10px 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  &__text--otheruser{
    top: 200px;
    width: 112px;
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    color: var(--purple-text);
  }
  &__message--user--images{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    left: 84.5px;
    top: 169px;
  }
  &__messages--images{
    
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
  &__message--user-1{
    position: absolute;
    top: 217px;
    left: 92.5px;
    height: 34px;
    width: 128px;
    background-color: white;
    border-radius: 10px 10px 4px 10px;  
    
  } 
  &__message--user-2{
    position: absolute;
    top: 259px;
    left: 140.5px;
    height: 23px;
    width: 80px;
    background-color: white;
    border-radius:10px 10px 4px 10px ;
  }
  
  &__text--user-1{
    position: absolute;
    width: 112px;
    height: 22px;
    top: 6px;
    left: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    color: var(--gray-text);
   
  }
    &__text--user-2 {
      font-family: 'Rubik', sans-serif;
      font-size: 8px;
      font-weight: 400;
      line-height: 11px;
      color: var(--gray-text);
      padding: 6px 8px;
    }
  &__footer--text{
    position: absolute;
    top: 445px;
    left: 8px;
    height: 34px;
    width: 213px;
    border-radius: 16.95px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: var(--soft-gray-footer);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 19px;
  }
  &__footer--circle{
    position: absolute;
    left: 184px;
    top: 450px;
    height: 25px;
    width: 25px;
    background-color: var(--purple-dark);
    border-radius: 100px;
  }
  &__footer--arrow{
    position: absolute;
    top: 8px;
    left: 9px;
    }
  &__offer--container-1{
    top: 351px;
    left: 8px;
    position: absolute;
    width: 160px;
    height: 32px;
    border-radius: 10px 10px 4px 10px;
    background: var(--linear-gradient);
  }
  &__offer--container-2 {
    position: absolute;
    top: 391px;
    left: 8px;
    width: 160px;
    height: 32px;
    border-radius: 10px 10px 4px 10px;
    background: var(--linear-gradient);
    }
  &__offer--circle{
    position: absolute;
    top: 10px;
    left: 8px;
    height: 12px;
    width: 12px;
    border: solid 1px var(--soft-pink-circle);
    border-radius: 100px;
    }
  &__offer--text{
    position: absolute;
    top: 11px;
    left: 28px;
    font-family: 'Rubik', sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: white;
    line-height: 11px;
  }
&__offer--price{
  position: absolute;
  top: 11px;
  left: 120px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  line-height: 11px;
}
}

