:root {
  --bg-body: #fafafa;
  --linear-gradient: linear-gradient(225deg, #e844ff, #8739ff);
  --purple-text: #9341c8;
  --soft-pink-bgmessage: #eee5f4;
  --purple-dark: #3e2753;
  --soft-purple-user-text: #6e5d7e;
  --soft-pink-circle: #e472ff;
  --gray-text: #a39da9;
  --soft-gray-footer: #c5c9cc;
  --soft-pink-user: #d99eff;
  --bg-mobile: #f5f3f7;
}

/* Variables SASS */
